{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
            <div class="Container">
            <section class = "grid">

                <div class="Header">

                  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                  <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>    
                    </div>
                  </div>
                </div>

                <div class="Content">
                    
                    <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
            
                    <p class="article-content">{{ post.content|safe }}</p>

                </div>
              </section>
            </div>
          </article>


          {% if post.author == user %}
            <div>
              <a class= "btn btn-secoundary btn-sm mt-1 mb-1" href="{% url 'blog-update' object.id %}">Update</a>

            <a class= "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-delete' object.id %}">Delete</a>
            </div>
           
          {%endif %}

{% endblock content %}