{% extends "blog/base.html" %}
{% block content %}
  
  <div class = HeadContainer>
    <h2>Task Manager </h2>
  </div>

<div class="table-box">
        <div class="table-row table-head">

            <div class="table-cell first-cell">
                <p>Title</p>
            </div>
            <div class="table-cell">
                <p>Description</p>
            </div>
            <div class="table-cell ">
                <p>Producer</p>
            </div> 
            <div class="table-cell">
                <p>Prize</p>
            </div> 
 
            <div class="table-cell">
                <p>Deadline</p>
            </div> 

            <div class="table-cell last-cell">
                <p>Action</p>
            </div>

        </div>

      {% for post in posts %}
        <div class="table-row">

            <div class="table-cell first-cell">
                
                <p> {{ post.title }}</p>

            </div>

            <div class="table-cell">
                <p>{{ post.description|safe}}</p>
            </div>

            <div class="table-cell">
                
                <a class="mr-2" href="{% url 'detail_profile' post.profile.id %}">{{ post.profile.user}}</a>
            </div>

            <div class="table-cell">
                <p>Prize</p>

            </div> 
            
            <div class="table-cell">
                <p>{{ post.deadline|date:"F d, Y" }}</p>
            </div>

            <div class="table-cell last-cell">

                <a href="#" class="btn btn-primary btn-sm">Apply</a>

                {% if request.user == post.profile.user %}
  
                    <div style = "padding-top: 10px;">
                        <a href="{% url 'task-update' post.id %}"> <b>Update </b> </a>
                    </div>
                      
                      
                      <div style = "padding-top: 10px;">
                        <a href="{% url 'task-delete' post.id %}" > <b> Delete </b> </a>
                      </div>
              
         
        
                {% endif %}

            </div>

               
        </div>

      {% endfor %}


</div>  
  

{% endblock %}